{% extends "base.html" %}

{% block body %}

    {% block feed_top %}{% endblock %}


    <ul>
    {% for photo in object_list %}
        <li>
            <div class="photo">
                <div class="media" style="background-image: url({{ photo.pic.url }})"></div>
                <div class="caption">{{photo.contents}}</div>
                <div class="created-date">{{photo.created_date |date:"Y. m. d"}}</div>
                <div class="color-tag" style="background-color: #{{photo.color_tag}}"></div>
            </div>
        </li>
    {% empty %}
        <li>
            <div class="empty-photo">
                <img src="/static/empty_photo.png" style="width: 170px; padding: 70px 100px;">
            </div>
        </li>
    {% endfor %}
    </ul>

    <!-- paging -->
    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
    <!-- //paging -->
  
{% endblock %}